body {
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
}

p {
    font-size: 14px;
}

/* ================Generic CSS==========================   */
.section-title {
    padding-top: 90px;
    /* padding-bottom: 50px; */
}

.section-title h2 {
    color: #333;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.title-underline {
    background-color: #129cf3;
    width: 60px;
    height: 1px;

}

.section-title p {
    color: #333;
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    margin-top: 25px;
}



/* ================Header========================== */

.header {
    background-image: url("../images/header-bg.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;

}

.header-overlay {
    background-color: rgba(31, 31, 31, 0.7)
}

.header-text h1 {
    color: white;
    font-size: 35px;
    font-weight: 300;
    line-height: 45px;
    padding-top: 30px;
    text-transform: uppercase;
}

.header-text p {
    color: white;
    font-size: 17px;
    line-height: 28px;
    font-weight: 300;

}

.header-btns {
    margin-top: 90px;
    margin-bottom: 50px;

}

.btn-download {
    background: transparent;
    border-color: #129cf3;
    color: #129cf3;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 19px;
    text-transform: uppercase;
    border-radius: 3px;
    transition: all 1s;
}

.btn-download:hover {
    color: white;
    background-color: #129cf3
}

.btn-tour {
    color: #a9adb0;
    margin-left: 20px;
    text-transform: uppercase;
    font-size: 19px;
    font-weight: 500px;
    background: transparent;
    transition: all 0.5s;


}

.btn-tour:hover {
    color: white;

}

/* ================About Us========================= */


.choose-us-wrapper {
    padding-top: 30px;
}

.about-iphone img {
    margin-top: 8px;
}

.choose-us-title {
    padding-bottom: 50px;
}

.choose-us-title h2 {
    color: #333;
    font-size: 30px;
    font-weight: 800;
    line-height: 37px;
    text-transform: uppercase;
}

.choose-us-title h2:after {
    content: '';
    background: #129cf3;
    width: 70px;
    height: 2px;
    display: block;

}

.choose-us-title p {
    margin-top: 20px;
    font-size: 19px;
    line-height: 24px;
}

.choose-us-item {
    position: relative;
    padding-bottom: 4px;
    padding-left: 80px;
}

.choose-us-item div {
    position: absolute;
    top: 0;
    left: 0;
}

.choose-us-item div i {
    font-size: 55px;
    color: #129cf3;
    transition: all 0.2s;
}

.choose-us-item h3 {
    color: #343434;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 800;

}

.choose-us-item p {
    color: #727272;
    font-size: 15px;

}

.choose-us-item:hover div i {
    color: #107ec3;
    font-size: 63px;
}

/* ================Testimonial========================= */

.testimonial {
    background-image: url("../images/testimonial-bg.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}


.testimonial-overlay {
    background-color: rgba(31, 31, 31, 0.75);
    padding-top: 80px;
    padding-bottom: 80px;

}

.carousel-indicators {
    bottom: -10px;
}

.carousel-inner .carousel-item img {
    border: 2px solid #129cf3;
    border-radius: 50%;
    padding: 2px;
}

.testimonial-caption {
    padding-bottom: 35px;
}

.testimonial-caption h2 {

    color: #129cf3;
    font-size: 30px;
    margin-top: 25px;
    font-weight: 900;
    text-transform: uppercase;

}

.testimonial-caption h4{
    color: #129cf3;
}

.testimonial-caption h4 span{
    color: #d8d8d8;
    font-style: italic;
    font-weight: 300;
}

.testimonial-caption p{
    color: #d8d8d8;
    font-size: 18px;
    line-height: 27px;
    padding-top: 50px;
}

