html,
body {
    height: 100%;
}


.row {
    margin-top: 10px;
    margin-bottom: 20px;
     /* border: 1px solid gray;  */
}

.chatTime{
       /* border: 1px solid red;  */
}

#recentUpdates{
    background-color:honeydew;
    color: #28A745;
}

.underLine{
    border-bottom: 1px solid rgba(215, 223, 234, 0.7);
}


.unread{
    color:#28A745;
}


.callIcon{
    display: flex;
color: #28A745;
align-items: center;
}

@media screen and (max-width:575px){

    .contactName{
        text-align: center;
        
    }
}