:root {
    font-size: 16px;
}

body {
    font-family: "Roboto", sans-serif;
    padding: 0;
    
    margin: 0;
     background-image: url("/images/greenbackground-low.jpg");
     background-size: cover;
    
         overflow-x: hidden;
         width: 100%;
   
}

.container{
    display: flex;
    flex-wrap: wrap;
}

/* NAVIGATION */

.topnavbar{
    display: flex;
width: 100%;
}

nav {
    display: flex;
    flex-direction: flex-start;
    width: 100%;
    margin: 0 auto;
    background: rgb(7, 59, 7);
    padding: 0px 0;
    box-shadow: 0px 5px 0px #dedede;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #aaa;
    font-weight: 800;
    margin: 0 0.7rem;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all 0.5s;
}

nav ul li a:hover {
    color: #555;
}

/* SHIFT */



nav.shift ul li a {
    position: relative;
    z-index: 1;
}

nav.shift ul li a:hover {
    color: green;
}

nav.shift ul li a:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: ".";
    color: transparent;
    background: #f1c40f;
    visibility: none;
    opacity: 0;
    z-index: -1;
}

nav.shift ul li a:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
}

/* Container for Profile pic and about me */

.aboutMeSection {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    align-items: center;
    min-width: 50%;
    background-image: url("/images/camouflage.jpg");
    background-size: cover;
}




.aboutMeSection .profilePic {
   width: 190px;
   height: 190px;
   max-width: 100%;
   max-height: 450px;
   border-radius: 150px;
   position: relative;
   border: 2px solid black;
   margin-bottom: 5px;
   margin-top: 5px;
 }

.aboutMeSection .myName {
     font-family: 'Patua One',cursive;
   color:grey;
    font-size: 1.2rem;
   position: relative;
   -webkit-text-stroke: 1px black;
   padding: 15px;
   
   
 }

 .myInfoText{
    font-family: 'Patua One', cursive;
    font-size: 1.1rem;
    color:white;
    line-height: 1.7em;
    padding-left: 1vw;
    padding-right: 1vw;
  }


.resize {
    height: 7vw;
    width: 7vw;
    left: 9%;
    top: 10%;
}

.technologies,.technologiesCaption {
    display: flex;
    flex-wrap: wrap;
    animation: nudge 2s linear;
    
   
}


@keyframes nudge {
    0%{
        transform: scale(2);
    }

    100% {
       transform: scale(1);
    }

    
}




.technologies .interestsStart{
    display: flex;
    flex-direction: row;
    /* margin-right: 50vw; */
    flex-wrap: wrap;
    width: 50%;
}


.boldText{
    font-size: 2rem;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #aaa;
    
    text-align: center;
}



.skilltext{
    flex:1;
    color: wheat;
    margin-left: 5px;
    align-self: center;
}


.learningimages{
/* border:5px solid red; */
width: 100%;
margin-left: 9vw;
}

.education{
    display: flex;
    flex-direction: column;
            
}
.education .educationimage{
    width: 230px;
    margin-right: 5vw;
    align-self: center;
}

.edutext {
   flex:1;
   color: wheat;
   margin-left: 5px;
   align-self: center;
}


















/* Responsiveness */
 @media screen and  (min-width:451px) 
 
 {
 .shift ul li {
     flex-wrap: wrap;
     /* width:40%; */
}


.aboutMeSection
{
   flex-wrap: wrap;
   padding-left: 5vw;
   padding-right: 5vw;
   
   
}


.aboutMeSection .profilePic {
  border:2px solid green;
  /* border-radius: 0px; */
  width: 250PX;
height: 250PX;
   
}

}

@media screen and (max-width:450px)
{
    .aboutMeSection {
        flex-wrap: wrap;
        padding-left: 5vw;
        padding-right: 5vw;
    }

  .topnavbar{
      display: none;
  }

    .aboutMeSection .profilePic {
        border: 2px solid green;
        border-radius: 0px;
        width: 60%;
        height: 60%;
    }


    .skilltext,.boldText{
        display: none;
      
       width: 300px;
    }

    .resize{
 
  height: 20vw;
  width: 20vw;
 width: 60%;
    }

   
 .educationimage{
    display: none;
} 

.edutext{
    color: wheat;
}

}

